<div class="d-flex">
      <div class="d-flex flex-column flex-shrink-0 p-3 text-white bg-dark vh-100 fixed-top" style="width: 280px;">
      <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-white text-decoration-none">
      <svg class="bi me-2" width="40" height="32"><use xlink:href="#bootstrap"/></svg>
      <%= link_to lists_path, class: "text-decoration-none" do %>
          <h2 class="title fs-4">Ciné+</h2>
      <% end %>
    </a>
    <hr>
    <ul class="nav nav-pills flex-column mb-auto">
      <li class="nav-item">
          <%= link_to new_list_path do %>
          <button class="btn btn-primary">Create new list</button>
        <% end %>
      </li>
      <% @lists.each do |list| %>
        <li class="nav-link text-white">
          <%= link_to list_path(list) do %>
          <div class=""><%= list.name %></div>
          <% end %>

        </li>
      <% end %>
    </ul>
    <hr>
    <div class="dropdown">
      <a href="#" class="d-flex align-items-center text-white text-decoration-none dropdown-toggle" id="dropdownUser1" data-bs-toggle="dropdown" aria-expanded="false">
        <img src="https://github.com/mdo.png" alt="" width="32" height="32" class="rounded-circle me-2">
        <strong>mdo</strong>
      </a>
      <ul class="dropdown-menu dropdown-menu-dark text-small shadow" aria-labelledby="dropdownUser1">
        <li><a class="dropdown-item" href="#">New project...</a></li>
        <li><a class="dropdown-item" href="#">Settings</a></li>
        <li><a class="dropdown-item" href="#">Profile</a></li>
        <li><hr class="dropdown-divider"></li>
        <li><a class="dropdown-item" href="#">Sign out</a></li>
      </ul>
    </div>
  </div>

<div class="container mt-3 p-5" style="margin-left: 280px;">
    <div class="row">
        <div class="col-12">
            <h1>All your List</h1>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <p>All <%= @movies.count %> lists.</p>
        </div>
    </div>
    <div class="row">
    <% @movies.each do |movie| %>
        <div class="col-md-4">
            <div class=" card flat-card">
                <img class="card-img-top" src= <%= movie.poster_url %>>
                <div class="flat-card-content px-4">
                    <div class="card-title">
                        <h4 class="py-2"><%= movie.title %></h4>
                    </div>
                </div>
                <div class="flat-card-actions d-flex justify-content-between p-4">
                    <%= link_to "More info", movie_path(movie) %>
                    <button class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#selectListModal" data-movie-id="<%= movie.id %>">Add to List</button>
                </div>
            </div>
        </div>
        <% end %>
      </div>
    </div>
</div>
<div class="modal fade" id="selectListModal" tabindex="-1" role="dialog" aria-labelledby="selectListModalLabel" aria-hidden="true" data-controller="bookmarks">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="selectListModalLabel">Select a List</h5>
        <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">X</button>
      </div>
      <div class="modal-body">
        <%= form_with url: bookmarks_path, method: :post, data: { turbo: true } do |f| %>
          <%= f.hidden_field :movie_id, id: "modal_movie_id" %>
          <div class="mb-3">
            <label for="list_id">Choose a List</label>
            <% @lists.each do |list| %>
              <div>
                <%= f.radio_button :list_id, list.id, data: { bookmarks_target: "radio", action: "input->bookmarks#updateSubmitButtonState" } %>
                <%= f.label :list_id, list.name %>
              </div>
            <% end %>
          </div>
          <div class="mb-3">
            <%= f.label :comment, "Comment", class: "form-label" %>
            <%= f.text_area :comment, required: true, class: "form-control", placeholder: "Add a comment...", data: { bookmarks_target: "comment", action: "input->bookmarks#updateSubmitButtonState" } %>
          </div>

          <%= f.submit "Add to List", class: "btn btn-primary", data: { bookmarks_target: "submitButton" }, disabled: true %>
        <% end %>
      </div>
    </div>
  </div>
</div>
