<div class="d-flex">
  <%= render 'shared/sidebar', lists: @lists %>
  <div class="container py-5">


    <div class="row">
      <div class="col">
        <p>All <%= @movies.count %> lists.</p>
      </div>
    </div>

    <div class="row">
  <% @movies.each do |movie| %>
    <div class="col-md-4 mb-4">
      <%= link_to movie_path(movie) do %>
        <div class="movie-card position-relative">
          <button class="bookmark-icon" data-bs-toggle="modal" data-bs-target="#selectListModal" data-movie-id="<%= movie.id %>">
            <i class="fas fa-bookmark"></i>
          </button>
          <img class="card-img-top" src="<%= movie.poster_url %>" alt="<%= movie.title %> poster">
          <div class="flat-card-content">
            <div class="card-title">
              <h4><%= movie.title %></h4>
            </div>
          </div>
          <div class="flat-card-actions">
            <%= link_to "More info", movie_path(movie), class: "movie-info-button" %>
          </div>
        </div>
      <% end %>
    </div>
  <% end %>
</div>
  </div>
</div>
<%= render 'shared/add_to_list_modal', lists: @lists %>
