<div class="d-flex ">
  <%= render 'shared/sidebar', lists: @lists %>
  <div class="container">
    <div class="movie-header" style="background-image: url('<%= cl_image_path @list.photo.key%>'); background-size: cover; height: 60vh; background-position: center;">
    <div class="overlay"></div>
      <div class="movie-info">
          <%= link_to request.referer || lists_path, class: "btn-back" do %>
            <i class="fas fa-arrow-left "></i>
          <% end %>
          <h1 class="movie-title"><%= @list.name %></h1>
          <div class="movie-actions">
              <%= link_to "Delete My List", "#", class: "btn btn-secondary" %>
          </div>
      </div>
      <div class="movie-thumbnail">
        <img src="<%= cl_image_path @list.photo.key%>" alt="<%= @list.name %>">
      </div>
  </div>
  <div class="row">
    <% @list.bookmarks.each do |bookmark| %>
      <div class="col-md-4 mb-4">
        <%= link_to movie_path(bookmark.movie) do %>
          <div class="movie-card position-relative">
            <img class="card-img-top" src="<%= bookmark.movie.poster_url %>">
            <div class="flat-card-content">
              <div class="card-title">
                <h4><%= bookmark.movie.title %></h4>
              </div>
            </div>
            <div class="flat-card-actions">
              <%= link_to "Remove", bookmark_path(bookmark), class: "ms-3 text-danger", data: { turbo_method: :delete, turbo_confirm: "Are you sure?" } %>
            </div>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>

</div>
</div>
