<div class="d-flex">
  <%= render 'shared/sidebar', lists: @lists %>
  <div class="container">
    <div class="row">
      <div class="col-12">
        <h1>Retrieve your watchlist</h1>
      </div>
    </div>

    <div class="row">
      <div class="col">
      </div>
    </div>
<div class="map" style="background-image: url('https://plus.unsplash.com/premium_photo-1682125771198-f7cbed7cb868?q=80&w=2920&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D'); height: 400px; background-size: cover;"></div>
<div class="margin-top-negative p-5">
<h1><%= @list.name %></h1>
  <div class="row">
    <% @list.bookmarks.each do |bookmark| %>
      <div class="col-md-4 mb-4">
        <%= link_to movie_path(bookmark.movie) do %>
          <div class="movie-card position-relative">
            <img class="card-img-top" src="<%= bookmark.movie.poster_url %>">
            <div class="flat-card-content">
              <div class="card-title">
                <h4><%= bookmark.movie.title %></h4>
              </div>
            </div>
            <div class="flat-card-actions">
              <%= link_to "Remove", bookmark_path(bookmark), class: "ms-3 text-danger", data: { turbo_method: :delete, turbo_confirm: "Are you sure?" } %>
            </div>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>
</div>
