<!DOCTYPE html>
<html>
  <head>
    <title>RailsWatchList</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <nav class="navbar  navbar-expand-md navbar-expand-lg navbar-light bg-light d-flex justify-content-between fixed-top px-4">
        <%= link_to lists_path, class: "text-decoration-none" do %>
          <h2 class="title">Ciné+</h2>
      <% end %>
      <div class="d-flex">
        <%= link_to new_list_path do %>
          <button class="btn btn-primary">Add list</button>
      <% end %>
      </div>
      </nav>
    <%= yield %>
  </body>
</html>
